 @charset "utf-8";
/* CSS Document */

 .helpcont{margin:10% auto; text-align:center}
 .helpcont img{width:355px; height:294px;}
 .hlphdnk a{color:#CFCFCF;}

.comingsoon_bg {
    width:315px;
    height:356px;
    background:url("../images/coming_soon_img.png") no-repeat center center;
    position:relative;
    margin:0 auto;
    display:block;
}
.comingsoon_txtcontentbox {
    position:absolute;
    top:27px;
    right:20px;
    width:132px;
    height:50px;
}
.comingsoon_txt {
    width:132px;
    height:50px;
    display:table-cell;
    text-align:center;
    vertical-align:middle;
    font-size:18px;
    font-weight:normal;
    font-family:HelveticaNeue Light, Arial;
    color:#000000;
}

 @media handheld, only screen and (max-width: 800px) { 
 .helpcont{margin:5% auto}  
 }
 
  @media handheld, only screen and (max-width: 720px) { 
 .helpcont{margin:0 auto}  
 }
 
   @media handheld, only screen and (max-width: 600px) { 
 .helpcont{margin:20% auto}  
 }
 
   @media handheld, only screen and (max-width: 480px) { 
 .helpcont{margin:10% auto}  
 .helpcont img{width:255px}
 }

 
 
