@charset "utf-8";
/* CSS Document */


.reshdnk a{color:#d489fb;}

/* -------------------------------------------resources tile pg starts ----------------------------------------------------- */

.restilebx {margin-left: 16.9%; width: 68.3%} 
/*.restilebx{margin-left:21.9%; width:56.3%;position: absolute;top:25%}*/
.restilebx ul{margin:0; padding:0; float:left;}
.restilebx ul li{list-style:none; float:left; width:138px; display:inline-block; margin:0 28px 28px 0; position:relative; text-align:center}
.restilebx ul li:last-child{margin-right:0;}
.restilebx ul li a{text-decoration:none; height:auto;}
.restilebx ul li a span{margin:0; padding:0; text-align:center;}
.restilebx ul li a span.resourceicon{display:block; padding-top:26px; background: rgb(251,250,250); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZiZmFmYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIxJSIgc3RvcC1jb2xvcj0iI2Y1ZjVmNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI2JSIgc3RvcC1jb2xvcj0iI2YyZjFmMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc3JSIgc3RvcC1jb2xvcj0iI2UxZTFlMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkY2RjZGMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(251,250,250,1) 0%, rgba(245,245,245,1) 21%, rgba(242,241,241,1) 26%, rgba(225,225,225,1) 77%, rgba(220,220,220,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(251,250,250,1)), color-stop(21%,rgba(245,245,245,1)), color-stop(26%,rgba(242,241,241,1)), color-stop(77%,rgba(225,225,225,1)), color-stop(100%,rgba(220,220,220,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(251,250,250,1) 0%,rgba(245,245,245,1) 21%,rgba(242,241,241,1) 26%,rgba(225,225,225,1) 77%,rgba(220,220,220,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(251,250,250,1) 0%,rgba(245,245,245,1) 21%,rgba(242,241,241,1) 26%,rgba(225,225,225,1) 77%,rgba(220,220,220,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(251,250,250,1) 0%,rgba(245,245,245,1) 21%,rgba(242,241,241,1) 26%,rgba(225,225,225,1) 77%,rgba(220,220,220,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(251,250,250,1) 0%,rgba(245,245,245,1) 21%,rgba(242,241,241,1) 26%,rgba(225,225,225,1) 77%,rgba(220,220,220,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfafa', endColorstr='#dcdcdc',GradientType=0 ); /* IE6-8 */; 
height:100px; border:1px #a9aca7 solid; -webkit-border-radius: 5px; border-radius: 5px;}

.restilebx ul li a span.resourcetxt{display:inline-block; color:#904eb2; font-size:19px;  margin-top:15px; text-shadow: 1px 1px 1px #ffffff;
filter: dropshadow(color=#ffffff, offx=1, offy=1);}

.restilebx ul li a:hover span.resourcetxt{text-decoration:underline}

.restilebx ul li a span.favtxt{display:inline-block; color:#f36788; font-size:19px;  margin-top:15px; text-shadow: 1px 1px 1px #ffffff;
filter: dropshadow(color=#ffffff, offx=1, offy=1);}

.restilebx ul li a:hover span.favtxt{text-decoration:underline}
.videoicon img{margin-top:-4px}
.audioicon img{ border-radius: 3px; height: 127%;margin-top: -27px; width: 99.8%;}
.audioicon1 img{ border-radius: 3px; height: 127%;margin-top: -26px; width: 99.8%;}
.audioicon2 img{ border-radius: 3px; height: 127%;margin-top: -27px; width: 99.8%;}
/* -------------------------------------------resources tile pg ends ------------------------------------------------------- */

.res_btnstrip{margin:0}
.res_btnstrip ul{margin:0; padding:0}
.res_btnstrip ul li{ color:#7a2aa4; text-shadow: 0px 1px 1px #eac9fa; filter: dropshadow(color=transparent, offx=0, offy=1); 
    -moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box; background: rgb(216,161,245); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q4YTFmNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iI2Q0OTZmMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2NmOGFmMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjZjhhZjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(216,161,245,1) 0%, rgba(212,150,243,1) 49%, rgba(207,138,243,1) 51%, rgba(207,138,243,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(216,161,245,1)), color-stop(49%,rgba(212,150,243,1)), color-stop(51%,rgba(207,138,243,1)), color-stop(100%,rgba(207,138,243,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(216,161,245,1) 0%,rgba(212,150,243,1) 49%,rgba(207,138,243,1) 51%,rgba(207,138,243,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(216,161,245,1) 0%,rgba(212,150,243,1) 49%,rgba(207,138,243,1) 51%,rgba(207,138,243,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(216,161,245,1) 0%,rgba(212,150,243,1) 49%,rgba(207,138,243,1) 51%,rgba(207,138,243,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(216,161,245,1) 0%,rgba(212,150,243,1) 49%,rgba(207,138,243,1) 51%,rgba(207,138,243,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8a1f5', endColorstr='#cf8af3',GradientType=0 ); /* IE6-8 */
-webkit-box-shadow: inset 0px 0px 1px 2px rgba(225, 167, 248, 1);
box-shadow: inset 0px 0px 1px 2px rgba(225, 167, 248, 1);
border:#d083f7 solid 1px; /* height:50px;*/ width:100%; border-radius:5px; -webkit-border-radius:5px; /*margin-left:0; margin-bottom:24px; float:left;*/
margin:0 auto 19px auto; display:inline-block; list-style:none; word-wrap:break-word}
/* .res_btnstrip ul li.quizli{padding:12px} */
.res_btnstrip ul li a{display:block; width:100%; }
.res_btnstrip.rsrcicon ul li a{width:100%; /*float:left;*/ display:inline-block; padding:12px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;box-sizing: border-box;}
.res_btnstrip ul li a span{display:block; font-family:Helvetica, "Arial Narrow", Arial; padding-left:32px; font-size:19px; color:#7a2aa4; text-shadow: 0px 1px 1px #eac9fa; filter: dropshadow(color=#eac9fa, offx=0, offy=1); min-height:25px;}

.res_btnstrip ul li a span.res_pdficon{background:url("../images/res_pdf_icon.png") no-repeat left center}
.res_btnstrip ul li a span.res_lessnicon{background:url("../images/res_lessen_icon.png") no-repeat left center} 
.res_btnstrip ul li a span.res_courseicon{background:url("../images/res_crse_icon.png") no-repeat left center} 
.res_btnstrip ul li a span.res_moisticon{background:url("../images/res_movicon.png") no-repeat left center} 
.res_btnstrip ul li a span.res_audicon{background:url("../images/res_audio_icon.png") no-repeat left center}
.res_btnstrip ul li a span.res_quiz_icon{background:url("../images/res_quiz_icon.png") no-repeat left center}


/* ----------------------------------------------------favourites css starts ------------------------------------------------------------- */
.favhdnk a, .favhdnk span{color:#f36788;}

.fav_btnstrip{margin:0}
.fav_btnstrip ul{margin:0; padding:0}
.fav_btnstrip ul li{color:#a42a69; text-shadow: 0px 1px 1px #eac9fa; filter: dropshadow(color=#eac9fa, offx=0, offy=1);
    -moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;
    padding: 11px 12px 5px 5px; background: rgb(245,161,195); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y1YTFjMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iI2YwOTZjMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2VjOGFjMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYzhhYzAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(245,161,195,1) 0%, rgba(240,150,193,1) 49%, rgba(236,138,192,1) 51%, rgba(236,138,192,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,161,195,1)), color-stop(49%,rgba(240,150,193,1)), color-stop(51%,rgba(236,138,192,1)), color-stop(100%,rgba(236,138,192,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(245,161,195,1) 0%,rgba(240,150,193,1) 49%,rgba(236,138,192,1) 51%,rgba(236,138,192,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(245,161,195,1) 0%,rgba(240,150,193,1) 49%,rgba(236,138,192,1) 51%,rgba(236,138,192,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(245,161,195,1) 0%,rgba(240,150,193,1) 49%,rgba(236,138,192,1) 51%,rgba(236,138,192,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(245,161,195,1) 0%,rgba(240,150,193,1) 49%,rgba(236,138,192,1) 51%,rgba(236,138,192,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5a1c3', endColorstr='#ec8ac0',GradientType=0 ); /* IE6-8 */
-webkit-box-shadow: inset 0px 0px 1px 2px rgba(249, 185, 218, 1);
box-shadow: inset 0px 0px 1px 2px rgba(249, 185, 218, 1);
border:#f783c7 solid 1px; min-height:47px;word-wrap: break-word; width:/*97%*/100%; border-radius:5px; -webkit-border-radius:5px; /*margin-left:13px;*/ margin-bottom:24px; float:left; display:inline-block; list-style:none; float:left;}
.fav_btnstrip ul li a{display:block; width:100%; float:left;}
.fav_btnstrip ul li a{width: auto !important; float:left }
.fav_btnstrip ul li a span{display:inline-block; font-family:Helvetica, "Arial Narrow", Arial; padding-left:28px; font-size:19px; color:#a42a69; text-shadow: 0px 1px 1px #eac9fa; min-height:25px;}

.fav_btnstrip ul li a span.fav_pdficon{background:url("../images/fav_pdf_icon.png") no-repeat left center}
.fav_btnstrip ul li a span.fav_lessnicon{background:url("../images/fav_lessen_icon.png") no-repeat left center} 
.fav_btnstrip ul li a span.fav_courseicon{background:url("../images/fav_crse_icon.png") no-repeat left center} 
.fav_btnstrip ul li a span.fav_moisticon{background:url("../images/fav_movicon.png") no-repeat left center} 
.fav_btnstrip ul li a span.fav_audicon{background:url("../images/fav_audio_icon.png") no-repeat left center} 
.fav_btnstrip ul li a span.fav_quizicon{background:url("../images/fav_quiz_icon.png") no-repeat left center}
#displayContent, #displayContentFav, #content-webview { width:100%; position:relative; margin:auto; text-align:center;}
#displayContent iframe, #displayContentFav iframe, #content-webview iframe /* #displayContent video,#displayContentFav video, #content-webview video*/{top:37%;margin-left: 6%;width: 86%; height:100%; margin-right: 6%;}
.padtop6{padding-top:10px;}
.iframewrap_crs, .iframewrap_crs_fav, .iframewrap_crs_res, .iframewrap_crs_news{position:relative; margin:auto;}
.iframewrap_crs { display: none; clear:both;}
#showlistFav.showcontent{margin-top:0; padding:10px;}
/* pdf viewer full screen in 1024 * 768
@media handheld, only screen and (max-device-width:1024px){

.restilebx { margin-left: 17.1%; width: 67.3%; padding-top:2.6%}
#displayContent,#content-webview{height:400px; width:100%; top:58%; display:inline-block; overflow: scroll; -webkit-overflow-scrolling : touch; border:0; }
#displayContent iframe,#displayContent video,#displayContentFav video, #displayContentFav iframe, #content-webview iframe, #content-webview video{top:37%;  width:100%; height:400px; overflow-x:scroll; -webkit-overflow-scrolling: touch}
#displayContent, #displayContentFav, #content-webview{height:400px; width:100%; position:relative; margin:auto; overflow-x:scroll; -webkit-overflow-scrolling: touch; display:inline-block}
#content-webview{height:90% !important; width:100%; position:relative; margin:auto; overflow-x:scroll !important; -webkit-overflow-scrolling: touch !important; display:inline-block}


}*/
@media handheld, only screen and (max-width:1024px){
  #displayContent iframe, #displayContentFav iframe, #content-webview iframe{width:90%; -webkit-overflow-scrolling: touch !important; min-height:500px; }
  #displayContentFav{margin-top: 15%;}
  #displayContentFav video{height:400px;}
  #showlistFav.showcontent{margin-top:6%;margin-bottom: 16%;}
  .favClose{margin-top: -26px;}
  #content-webview{height:500px; width:100%; position:relative; margin-top:0%;}
}
@media handheld, only screen and (max-width:800px){     

.restilebx {margin-left: 7.9%; width: 91.3%}

}

@media handheld, only screen and (max-width:768px){
.restilebx {margin-left: 5.1%; width: 98.3%; padding-top: 9%; clear:both;}
#displayContent iframe, #displayContentFav iframe,#content-webview iframe{top:37%; /*margin-left:10%;*/ width:87%; min-height:500px;}
/*#content-webview iframe{top:37%; margin-left:3%; width:92%; height:480px !important;overflow-y:scroll !important;}*/
#displayContentFav{margin-top: 55%;}
#displayContent,#content-webview{height:700px;}
#displayContent, #displayContentFav, #content-webview{height:700px;}
.course_ifram_cls_btn{ right: 43px;}
#displayContentFav{height:400px;}
#displayContentFav video{height:400px;}
#showlistFav.showcontent{margin-top:50%;margin-bottom:60%;}
#content-webview{width:100%; position:relative; margin-top:0;}
}

@media handheld, only screen and (max-width:720px){     
.res_btnstrip.rsrcicon ul li a{width:100%}
.restilebx {margin-left: 4.8%; width: 96.3%; padding-top:64px}
#displayContent iframe,#displayContent video,#displayContentFav video, #displayContentFav iframe, #content-webview iframe, #content-webview video{top:37%; /*margin-left:10%;*/ height:349px;}
#displayContent, #displayContentFav, #content-webview{height:252px;}

}

@media handheld, only screen and (max-width:640px){     

.res_btnstrip.rsrcicon ul li a{width:100%}
.restilebx ul li {margin: 0 10px 28px 0}
.restilebx {margin-left: 2.8%; padding-top:118px}
.iframewrap_crs{ margin-top: 2; }
#displayContent iframe,#displayContent video,#displayContentFav video, #displayContentFav iframe, #content-webview iframe, #content-webview video{top:37%; /*margin-left:10%;*/ width:92%; height:400px;}
.favClose{right:8px;margin-top: 66px;}
#showlistFav.showcontent{margin-top:18%;margin-bottom: -45%;}
.favClose{right:8px;margin-top: -230px;}
.favAndroidVideo{position: absolute; margin-top: -150%; width:100%;}
}

@media handheld, only screen and (max-width:600px){

.res_btnstrip.rsrcicon ul li a {width: 100%}
.restilebx {margin-left: 23.9%; width: 57.3%}
#displayContent iframe,#displayContent video,#displayContentFav video, #displayContentFav iframe, #content-webview iframe, #content-webview video{height:346px;}
}

@media handheld, only screen and (max-width:568px){			

.restilebx {margin-left: 23.7%; width: 62.3%; padding-top:34px}
#displayContent, #displayContentFav,#content-webview{height:132px}
#displayContent iframe,#displayContent video,#displayContentFav video, #displayContentFav iframe, #content-webview iframe, #content-webview video{top:37%; /*margin-left:10%;*/ width:91%; height:400px;}
#content-webview video{width:100%}
#displayContentFav{margin-top: 15%;}
.iframewrap_crs{ margin-top: -2%;margin-right: 2%;}
#displayContentFav video{width:100%;height:50px;}
.favClose{right:6px;margin-top: -20px;}
#showlistFav.showcontent{margin-top:12%;margin-bottom:6%;}
div#showlistFav.showcontent.QUIZshowcontent{margin-bottom: 10%;}
#displayContent video{height: 100px !important;}
}

@media handheld, only screen and (max-width:550px){

.restilebx {margin-left: 22.7%; width: 68.3%}
#displayContent, #displayContentFav,#content-webview{height:194px}
.res_btnstrip.rsrcicon ul li a {width: 100%;}

}

@media handheld, only screen and (max-width:480px){
    #displayContent, #displayContentFav,#content-webview{height:312px}
.restilebx {margin-left: 18.9%; width: 73.3%}
.res_btnstrip.rsrcicon ul li a{width:100%}
#displayContent iframe,#displayContent video,#displayContentFav video, #displayContentFav iframe, #content-webview iframe, #content-webview video{height:444px;}
}

@media handheld, only screen and (max-width:385px){
.restilebx{margin:auto; width:138px; padding-top:30px; padding-bottom: 70px;}
#displayContent, #displayContentFav,#content-webview{height:500px}
#displayContent iframe,#displayContent video,#displayContentFav video, #displayContentFav iframe, #content-webview iframe, #content-webview video{height:500px;}
}

@media handheld, only screen and (max-width:360px){
.res_btnstrip.rsrcicon ul li a{width:100%; display:inline-block; padding:12px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box}
#displayContent iframe,#displayContent video,#displayContentFav video, #displayContentFav iframe, #content-webview iframe, #content-webview video{width:88%;height:400px;}
#displayContent, #displayContentFav,#content-webview{height:400px}
.favClose{right:13px;margin-top:0;}
.favAndroidVideo{position: absolute; margin-top: 15%; width:100%;}    
}

@media handheld, only screen and (max-width: 320px) {
#displayContent, #displayContentFav,#content-webview{height:250px; width:100%; top:58%}
#displayContent iframe, #displayContentFav iframe, #displayContentFav video, #displayContentFav iframe, #content-webview iframe, #content-webview video{width:88%;height:452px;}
#content-webview video{width:100%}
.res_btnstrip.rsrcicon ul li a{width:100%}
#displayContentFav{margin-top: 20%;}
#displayContentFav video{width:100%;height:100px;}
.favClose{right:6px;margin-top: -25px;}
#showlistFav.showcontent{margin-top:25%;margin-bottom:6%;}
div#showlistFav.showcontent.QUIZshowcontent{margin-bottom: 16%;}
#displayContent video{height: 200px !important;}
}

.tpbreadcrumbs li {
    color: #000;
    display: inline;
    float: left;
    list-style: none outside none;
    font-size: 13px;
}
.givemespace {
	height: 60px;
}
#content-notes
{
width: 50%;
position: relative;
margin: auto;
}
.alignment {
height: 47px;
font-size: 59px;
line-height: 16px;
text-align: center;
}
#content-webview #activityVideo { width:100%; height:100%;}


 
