<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="com.photon-CheckOnline" version="0.0.1">
    <name>CheckOnline</name>
    <description>A Cordova plugin to handle CheckOnline</description>
    <author>Clinique</author>
    <license>Apache 2.0 License</license>
    <engines>
        <engine name="cordova" version=">=3.5.1" />
    </engines>
	<platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CheckOnline" >
                <param name="android-package" value="com.clinique.phresco.hybrid.CheckOnline"/>
            </feature>
        </config-file>
        <source-file src="src/android/CheckOnline.java" target-dir="src/com/clinique/phresco/hybrid" />
    </platform>
</plugin>

