@charset "utf-8";
/* CSS Document */


/*---------------- Header Logo Part starts---------------*/

.hme_header{background:#efe0f6; border-bottom:#cbcbcb solid 1px; width:100%; float:left;}
.hme_hdr_hldr{margin:auto; width:96.09375%}
.hmelogo a{padding-top:11px; padding-bottom:16px; float:left;}
.hmesearchholder{float:right; width:32.621951%; padding-top:28px;}
.hmesearchbx{float:left; width:68.84735%; height:32px; display:block; background:#fff; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; -webkit-box-shadow: inset 0px 2px 3px 2px rgba(0, 0, 0, .1); box-shadow: inset 0px 2px 3px 2px rgba(0, 0, 0, .1);}
.hmesearchbx span{float:left; width:24px; height:32px; text-align:right}
.hmesearchbx span.searchicn {background:3px -50px url(../images/sprite_img.png) no-repeat; width:24px; height:34px;}
.hmesearchbx input{height:32px; -webkit-border-radius: 0px 5px 5px 0px;
border-radius: 0px 5px 5px 0px; border:none; background:none; width:87.5%; float:right;}
.hmesearchbx input[placeholder], [placeholder], *[placeholder] {
 padding-left:0.525em !important;
margin-left:0;
color:#95999a;
font-family:Arial, Helvetica, sans-serif;
font-size:120%;
}
.hmelogout a{background: rgb(196,178,204); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M0YjJjYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMlIiBzdG9wLWNvbG9yPSIjYjdhMmMxIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNDElIiBzdG9wLWNvbG9yPSIjYWU5N2I5IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzk5N2JhNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top, rgb(196,178,204) 0%, rgb(183,162,193) 3%, rgb(174,151,185) 41%, rgb(153,123,167) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(196,178,204)), color-stop(3%,rgb(183,162,193)), color-stop(41%,rgb(174,151,185)), color-stop(100%,rgb(153,123,167))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgb(196,178,204) 0%,rgb(183,162,193) 3%,rgb(174,151,185) 41%,rgb(153,123,167) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgb(196,178,204) 0%,rgb(183,162,193) 3%,rgb(174,151,185) 41%,rgb(153,123,167) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgb(196,178,204) 0%,rgb(183,162,193) 3%,rgb(174,151,185) 41%,rgb(153,123,167) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgb(196,178,204) 0%,rgb(183,162,193) 3%,rgb(174,151,185) 41%,rgb(153,123,167) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4b2cc', endColorstr='#997ba7',GradientType=0 ); /* IE6-8 */
width:23.9875%; height:30px; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; border:#9e81ab 1px solid; color:#fff; float:right; text-align:center; text-decoration:none; font-family:'HelveticaNeueLTStd-Lt'; font-size:80%; line-height:25px; }
.hmelogo2 a{display:none;}
.hmelogout2 a{display:none;}
.hmesearchholder2{display:none;}

/*---------------- Header Logo Part ends---------------*/	

/*----------------  Global Menu starts  ---------------*/

.globalmenu{width:100%; height:67px; background:#9d7fa7; float:left;}
.globalmenu ul{margin:0; padding:0}
.globalmenu ul li{display:inline; list-style:none; }
.globalmenu ul li a{display:block; background:#fff; float:left; width:19.921875%; height:65px; text-align:center; border-right:#bda4c9 solid 1px;}
.globalmenu ul li.selected a{background: rgb(208,191,212); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2QwYmZkNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIlIiBzdG9wLWNvbG9yPSIjYjQ5YWJiIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMyUiIHN0b3AtY29sb3I9IiNhODg5YjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxNiUiIHN0b3AtY29sb3I9IiNhNjg4YWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI0NSUiIHN0b3AtY29sb3I9IiM5YzdlYTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjODE2NjhlIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
background: -moz-linear-gradient(top, rgb(208,191,212) 0%, rgb(180,154,187) 2%, rgb(168,137,176) 3%, rgb(166,136,175) 16%, rgb(156,126,166) 45%, rgb(129,102,142) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(208,191,212)), color-stop(2%,rgb(180,154,187)), color-stop(3%,rgb(168,137,176)), color-stop(16%,rgb(166,136,175)), color-stop(45%,rgb(156,126,166)), color-stop(100%,rgb(129,102,142))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgb(208,191,212) 0%,rgb(180,154,187) 2%,rgb(168,137,176) 3%,rgb(166,136,175) 16%,rgb(156,126,166) 45%,rgb(129,102,142) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgb(208,191,212) 0%,rgb(180,154,187) 2%,rgb(168,137,176) 3%,rgb(166,136,175) 16%,rgb(156,126,166) 45%,rgb(129,102,142) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgb(208,191,212) 0%,rgb(180,154,187) 2%,rgb(168,137,176) 3%,rgb(166,136,175) 16%,rgb(156,126,166) 45%,rgb(129,102,142) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgb(208,191,212) 0%,rgb(180,154,187) 2%,rgb(168,137,176) 3%,rgb(166,136,175) 16%,rgb(156,126,166) 45%,rgb(129,102,142) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0bfd4', endColorstr='#81668e',GradientType=0 ); /* IE6-8 */
}
.globalmenu ul li a span{display:block;}
.globalmenu ul li a span.hmemenuicon{width:100%}
.globalmenu ul li a span.hmemenutxt{color:#614261; font-family:'HelveticaNeueLTStd-Lt'; font-size:120%; text-align:center;  text-decoration:none;}
.globalmenu ul li.nobrdr{border-right:none;}

/*----------------  Global Menu ends  ---------------*/


/*----------------------------------------------------------------------------1024PX STARTS---------------------------------------------------------------------------*/

@media handheld, only screen and (max-width: 1024px) {
	
/*---------------- Header Logo Part starts---------------*/	

.hmesearchbx input{height:32px; -webkit-border-radius: 0px 5px 5px 0px;
border-radius: 0px 5px 5px 0px; border:none; background:none; width:85.1%; float:right;}
.hmelogo2 a{display:none;}
.hmelogout2 a{display:none;}
.hmesearchholder2{display:none;}	

/*---------------- Header Logo Part ends---------------*/

/*----------------  Global Menu starts  ---------------*/

.globalmenu{width:100%; height:65px; position:fixed; bottom:0; display:block; border-top:#bda4c9 solid 1px; border-bottom:#bda4c9 solid 1px}
.globalmenu ul{margin:0; padding:0}
.globalmenu ul li{display:inline; list-style:none; }
.globalmenu ul li a{display:block; background:#fff; float:left; width:19.9%; height:65px; text-align:center; border-right:#bda4c9 solid 1px; text-decoration:none}
.globalmenu ul li a span{display:block; padding-top:11px;}
.globalmenu ul li a span.hmemenuicon{width:100%}
.globalmenu ul li a span.hmemenutxt{color:#614261; font-family:'HelveticaNeueLTStd-Lt'; font-size:120%; text-align:center; padding:0px; margin:0px; text-decoration:none; }
.globalmenu ul li.nobrdr{border-right:none;}
.globalmenu ul li.nobrdr2{border-left:none;}

/*----------------  Global Menu ends  ---------------*/
}

/*----------------------------------------------------------------------------1024PX ENDS---------------------------------------------------------------------------*/



/*----------------------------------------------------------------------------768PX STARTS---------------------------------------------------------------------------*/


@media handheld, only screen and (max-width: 768px) {
	
	/*---------------- Header Logo Part starts---------------*/
	
.hmesearchbx input{height:32px; -webkit-border-radius: 0px 5px 5px 0px;
border-radius: 0px 5px 5px 0px; border:none; background:none; width:80.2%; float:right;}
.hmelogo2 a{display:none;}
.hmelogout2 a{display:none;}
.hmesearchholder2{display:none;}	

  /*---------------- Header Logo Part ends---------------*/

.globalmenu{width:100%; height:65px; background:#9d7fa7; position:fixed; bottom:0; display:block;}
.globalmenu ul li a{display:block; background:#fff; float:left; width:19.733%; height:65px; text-align:center; border-right:#bda4c9 solid 1px; text-decoration:none}

}

/*----------------------------------------------------------------------------768PX ENDS---------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------480PX STARTS---------------------------------------------------------------------------*/

@media handheld, only screen and (max-width: 480px) {
	
	/*---------------- Header Logo Part starts---------------*/
	
.hme_hdr_hldr{margin:auto; width:95%}	
.hmelogo2 a{padding-top:10px; padding-bottom:7px; float:left; display:block}	
.hmelogo a{display:none;}
.hmelogout2 a{float:right; display:block; padding-top:15px;}
.hmelogout a{display:none;}
.hmesearchholder{display:none;}
.hmesearchholder2{float:left; background: rgb(213,192,223); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q1YzBkZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIwJSIgc3RvcC1jb2xvcj0iI2Q4YzNlMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZGQ3ZjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgb(213,192,223) 0%, rgb(216,195,226) 20%, rgb(237,215,247) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(213,192,223)), color-stop(20%,rgb(216,195,226)), color-stop(100%,rgb(237,215,247))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgb(213,192,223) 0%,rgb(216,195,226) 20%,rgb(237,215,247) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgb(213,192,223) 0%,rgb(216,195,226) 20%,rgb(237,215,247) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgb(213,192,223) 0%,rgb(216,195,226) 20%,rgb(237,215,247) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgb(213,192,223) 0%,rgb(216,195,226) 20%,rgb(237,215,247) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5c0df', endColorstr='#edd7f7',GradientType=0 ); /* IE6-8 */
width:100%; height:43px; border-top:1px solid #ddcde5; display:block;}
.hmesearchbx2{width:95%; height:32px; display:block; background:#fff; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; -webkit-box-shadow: inset 0px 2px 3px 2px rgba(0, 0, 0, .1); box-shadow: inset 0px 2px 3px 2px rgba(0, 0, 0, .1); margin:auto; margin-top:4px;}
.hmesearchbx2 span{float:left; width:24px; height:32px; text-align:right}
.hmesearchbx2 span.searchicn {background:3px -50px url(../images/sprite_img.png) no-repeat; width:24px; height:34px;}
.hmesearchbx2 input{height:32px; -webkit-border-radius: 0px 5px 5px 0px;
border-radius: 0px 5px 5px 0px; border:none; background:none; width:93%; float:right;}

.hmesearchbx2 input[placeholder], [placeholder], *[placeholder] {
 padding-left:0.225em !important;
margin-left:0;
color:#95999a;
font-family:Arial, Helvetica, sans-serif;
font-size:120%;
}

          /*---------------- Header Logo Part ends---------------*/

.globalmenu{width:100%; height:65px; background:#9d7fa7; position:fixed; bottom:0; display:block;}	
.globalmenu ul li a{display:block; background:#fff; float:left; width:19.586%; height:65px; text-align:center; border-right:#bda4c9 solid 1px;}
.globalmenu ul li a span{display:block; padding-top:19px;}
.globalmenu ul li a span.hmemenutxt{display:none;}
}

/*----------------------------------------------------------------------------480PX ENDS---------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------320PX STARTS---------------------------------------------------------------------------*/

@media handheld, only screen and (max-width: 320px) {
	
	/*---------------- Header Logo Part starts---------------*/
	
.hme_hdr_hldr{margin:auto; width:94%}	
.hmesearchbx2{width:94%;}
.hmesearchbx2 input{height:32px; -webkit-border-radius: 0px 5px 5px 0px;
border-radius: 0px 5px 5px 0px; border:none; background:none; width:90%; float:right;}

   /*---------------- Header Logo Part ends---------------*/ 
   
	
.globalmenu{width:100%; height:65px; background:#9d7fa7; position:fixed; bottom:0; display:block;}
.globalmenu ul li a{display:block; background:#fff; float:left; width:19.35%; height:65px; text-align:center; border-right:#bda4c9 solid 1px;}
.globalmenu ul li a span{display:block; padding-top:19px;}
.globalmenu ul li a span.hmemenutxt{display:none;}
}

/*----------------------------------------------------------------------------320PX ENDS---------------------------------------------------------------------------*/

 @media all {
#page, .logo, .menu ul li a {
	transition:all 0.5s linear;
	-o-transition:all 0.5s linear;
	-moz-transition:all 0.5s linear;
	-webkit-transition:all 0.5s linear;
}
}