<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="com.photon-SQLitePlugin" version="0.0.1">
    <name>SQLitePlugin</name>
    <description>A Cordova plugin that handles sqlite database</description>
    <engines>
        <engine name="cordova" version=">=3.9.1" />
    </engines>
    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="SQLitePlugin">
                <param name="ios-package" value="SQLitePlugin" />
            </feature>
        </config-file>
        <header-file src="src/ios/SQLitePlugin.h" />
        <source-file src="src/ios/SQLitePlugin.m" />
        <framework src="libxml2.2.tbd" />
        <framework src="libxml2.tbd" />
        <framework src="libsqlite3.tbd" />
        <framework src="libsqlite3.0.tbd" />
        <framework src="libz.tbd" />
        <framework src="CoreData.framework" />
        <framework src="JavaScriptCore.framework" />
    </platform>
</plugin>