<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="com.photon-OfflineSyncPlugin" version="0.0.1">
    <name>OfflineSyncPlugin</name>
    <description>A Cordova plugin that handles offline sync</description>
    <engines>
        <engine name="cordova" version=">=3.9.1" />
    </engines>
    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="OfflineSyncPlugin">
                <param name="ios-package" value="OfflineSyncPlugin" />
            </feature>
        </config-file>
        <header-file src="src/ios/OfflineSyncPlugin.h" />
        <source-file src="src/ios/OfflineSyncPlugin.m" />
    </platform>
</plugin>