@charset "utf-8";
/* CSS Document */

/* Wrapper */
  .animate-wrap {
    position: relative;
	margin:30% auto 0 auto;
    width: 220px; height: 220px;
    background-color: #FFF;
    -webkit-perspective: 1000;
       -moz-perspective: 1000;
            perspective: 1000;
  }
  
  
  @media handheld, only screen and (max-width: 786x) {
 
 .animate-wrap {    
	margin:56% auto 0 auto;    
  }
	
}



  @media handheld, only screen and (max-width: 480x) {
 
 .animate-wrap {    
	margin:56% auto 0 auto;    
  }
	
}
  
  
  @media handheld, only screen and (max-width: 320x) {
 
 .animate-wrap {    
	margin:56% auto 0 auto;      	
  }
	
}
    
  
  /* Inputs */
  .animate-wrap input {
    display: none;
  }
  .animate-wrap [type="radio"]:checked + .animate {
    -webkit-transform: rotateX(180deg);
       -moz-transform: rotateX(180deg);
            transform: rotateX(180deg);
			
  }
  
  /* Image-Wrapper */
  .animate {
    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transition: all 0.9s ease-out;
       -moz-transition: all 0.9s ease-out;
            transition: all 0.9s ease-out;
			
  }
  
  /* Labels */
  label {
    position: absolute; top: 0; left: 0; z-index: 2;
    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
            backface-visibility: hidden;
  }
  
  .back {
    -webkit-transform: rotateX(180deg);
       -moz-transform: rotateX(180deg);
            transform: rotateX(180deg);
  }
  .front {
    z-index: 1;
  }
  .ani{
	-webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    transform: rotateX(180deg);
	-webkit-transform-style: preserve-3d;
	-webkit-transition: all 0.5s ease-out;
	
  }