@charset "utf-8";
/* CSS Document */

.newshdnk a{color:#ffb300}
.newscontainer{width:97%; float:left; margin-left:1.4%; border:1px solid #ccc; /*border-radius:10px; -webkit-border-radius:10px*/}
.newscontainer ul{margin:0; padding:0;float:left;width:100%;}
.newscontainer ul li{display:inline-block; list-style:none; width:/*33.22%*/33.261%; cursor: pointer; text-align:center; border-right:1px solid #ccc; border-bottom:1px solid #ccc; height:320px; float:left}
.newscontainer ul li:nth-child(3n+3) { border-right:none;}
/*.newscontainer ul li:last-child{border-right:none;}
.newscontainer ul li:nth-child(3){border-right:none}
.newscontainer ul li:nth-child(4){border-bottom:none}
.newscontainer ul li:nth-child(5){border-bottom:none}
.newscontainer ul li:nth-child(6){border-bottom:none}*/
.newscontainer ul li a{display:block; width:100%; /*padding-top:22px;*/ height:320px;} /* artf668211 - Fixed */
/* .newscontainer ul li a img{width:100%} */
/* .newscontainer ul li img{padding:22px 0; height: 320px; width: 100%;} */
/*.newscontainer ul li a img{width:33.2%; height:83.2%}*/

.newscontainer ul li a img { height: 100%; width: 100%}
.newscontainer ul li.brdtp{border-top:1px solid #ccc;}
.newscontainer ul li:last-child li{border-bottom:none;}
#newsIframe,#content-webview{height:500px;width:96%;margin: auto;}
#newsIframe iframe,#newsIframe video,#content-webview iframe{ /*margin-left:10%;*/ width:100%; height:100%;}

@media handheld, only screen and (max-width:1024px) {
    #newsIframe{height:400px; width:100%; top:58%; margin: 10px auto 0 auto;}
    #newsIframe iframe,#newsIframe video{/*margin-left:17%;*/ width:99.4%;}
    #newsIframe,#content-webview{width:100%}
    .newscontainer{width:100%; margin-left:0}
    /*.newscontainer ul li a img{width:37.8%; height:103.3%}*/
    .newscontainer ul li{width:33.23%}
}

@media handheld, only screen and (max-width:800px) {
    .newscontainer ul li{width:33.2%}

}

@media handheld, only screen and (max-width:768px) {
    #newsIframe{height:300px; width:97%; top:58%;}
    #newsIframe iframe,#newsIframe video{/*margin-left:6%;*/ width:99.4%; height:100%/*580px*/;}
    .newscontainer ul li{/*width:33.20%*/ width:33.18%}

}

@media handheld, only screen and (max-width:720px){
    .newscontainer ul li {width: 33.193%}
}

@media handheld, only screen and (max-width:640px){
    .newscontainer ul li {width: 33.15%}
    .newscontainer{width:99.6%}
}

@media handheld, only screen and (max-width:600px){
    .newscontainer ul li {width: 33.15%}
}

@media handheld, only screen and (max-width:568px){
    .newscontainer{width:99.5%}
}

@media handheld, only screen and (max-width:550px){
    .newscontainer ul li {width: 33.14%}
}

@media handheld, only screen and (max-width:480px){
    .newscontainer{width:99.6%}
}


@media handheld, only screen and (max-width:480px) and (orientation:landscape){
    .newscontainer ul li:nth-child(3n+3) { border-right:1px solid #ccc;}
    .newscontainer ul li:nth-child(2n+2) { border-right:none;}
    .newscontainer ul li{display:inline-block; list-style:none; /*width:49.86% !important;*/ width:49.77%; text-align:center; border-right:1px solid #ccc; 
                         border-bottom:1px solid #ccc; height:320px}
    #newsIframe{height:300px; width:93%;}
    #newsIframe iframe,#newsIframe video{top:45%; /*margin-left:10%;*/ width:99%;height:100%;}

    /*.newscontainer ul li:nth-child(2){border-right:none}
    .newscontainer ul li:nth-child(3){border-right:1px solid #ccc;}
    .newscontainer ul li:nth-child(4){border-bottom:1px solid #ccc; border-right:none}
    .newscontainer ul li:nth-child(5){border-bottom:none;}*/

}

@media handheld, only screen and (max-width:385px){
    .newscontainer ul li{/*width:95% !important;*/ width:100%; margin:0 auto;border-bottom:1px solid #ccc; border-right:none;border-top:none;border-left:none}
    .newscontainer ul li:last-child{border-bottom:none;}
    .newscontainer{width:99.2%}
}







@media handheld, only screen and (max-width:1024px) {
    #nonewscontent{margin:0 auto;width:40%;}
    .ifram_cls_btn, .ifram_news_cls_btn, .course_ifram_cls_btn {
        height: 30px;
        opacity: 1;
        position: relative;
       // right:35px;
        width: 58px;
        z-index:99999;
        top:0;
        margin-top: -37px;
    }

}

@media handheld, only screen and (max-width:640px){
    .newscontainer{width:99.3%}
    .newscontainer{width:99.6%}
	.course_ifram_cls_btn {right: 15px;margin-top:10px;}
	.AndroidVideo img{ height: 190px;width: 98%;margin-left: 4px;}
}
@media handheld, only screen and (max-width:360px){
    .ifram_cls_btn, .ifram_news_cls_btn, .course_ifram_cls_btn {right: 8px    }
	.course_ifram_cls_btn{right: 15px;}
    .newscontainer{width:99.3%}
	.AndroidVideo img{margin-left: 4px;}
}


@media handheld, only screen and (max-width:320px) {
    .newscontainer ul li:last-child{border-bottom:none;}


    #newsIframe{height:250px; width:100%; left:-10px;}
    #newsIframe iframe,#newsIframe video{top:45%; /* margin-left:10%;*/ width:80%; height:100%; left:0;}

    /* #newsIframe{height:300px; width:93%;}
    #newsIframe iframe,#newsIframe video{top:45%; width:99%;height:100%;} */

    .ifram_cls_btn, .ifram_news_cls_btn, .course_ifram_cls_btn {right: 3px}
    .course_ifram_cls_btn{margin-top:10px;} 
	}
