@charset "utf-8";
/* CSS Document */

*{margin:0; padding:0;}
html,body{margin:0; padding:0;}
.tpbreadcrumbs ul li.regishdlnk a{color:#85a095}
#register_holder{ width:100%; font-family:Helvetica,arial; font-size:16px; color:#85a095; padding-bottom:5px;}
#register_holder fieldset{ width:100%; display:inline-block; margin-bottom:15px;}
#register_holder fieldset label{min-width:267px;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box; /*padding-right:15px; */display:block; float:left; line-height:25px; cursor:default;color: #85A095;padding-top:3px; font-size:16px; text-transform: capitalize;}
#register_holder fieldset label span.mandatory{color:#fe0000}
#register_holder > fieldset > span{color:red; float:left; width:330px; font-size:12px; padding-left:166px;}
#register_holder fieldset input{width:45%; float:left; height: 32px; border:1px #acc0b8 solid; -webkit-border-radius: 5px; border-radius: 5px;	-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;
                                -webkit-box-shadow: inset 1px 1px 10px 1px rgba(0, 0, 0, .1); box-shadow: inset 1px 1px 10px 1px rgba(0, 0, 0, .1); padding:0 0 0 10px; margin:0; color:#95999a;}

#register_holder fieldset .registertxt{float:left}
#register_holder fieldset select{width:45%; float:left; height: 33px; border:1px #acc0b8 solid; -webkit-border-radius: 5px; border-radius: 5px;	
                                 -webkit-box-shadow: inset 1px 1px 10px 1px rgba(0, 0, 0, .1);-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;
                                 box-shadow: inset 1px 1px 10px 1px rgba(0, 0, 0, .1); padding:5px 8px; margin:0; color:#95999a;}	

#register_holder fieldset input.greytxtbx{background:#ffdbca;}

#register_holder fieldset input[placeholder], [placeholder], [placeholder] {
    color: #777979;
    font-size: 16px;
    font-weight: normal;
    margin-left: 0;
    padding-left: 10px !important;
}

.registerbx {float: left; margin-left:11%; width:82%;}
.reg_grnbtn,.reg_grybtn {padding-top:5px}
.reg_grnbtn a{display:table-cell; vertical-align:middle; background: rgb(152,235,203); /* Old browsers */
              /* IE9 SVG, needs conditional override of 'filter' to 'none' */
              background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk4ZWJjYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3ZWQyYjEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
              background: -moz-linear-gradient(top, rgba(152,235,203,1) 0%, rgba(126,210,177,1) 100%); /* FF3.6+ */
              background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(152,235,203,1)), color-stop(100%,rgba(126,210,177,1))); /* Chrome,Safari4+ */
              background: -webkit-linear-gradient(top, rgba(152,235,203,1) 0%,rgba(126,210,177,1) 100%); /* Chrome10+,Safari5.1+ */
              background: -o-linear-gradient(top, rgba(152,235,203,1) 0%,rgba(126,210,177,1) 100%); /* Opera 11.10+ */
              background: -ms-linear-gradient(top, rgba(152,235,203,1) 0%,rgba(126,210,177,1) 100%); /* IE10+ */
              background: linear-gradient(to bottom, rgba(152,235,203,1) 0%,rgba(126,210,177,1) 100%); /* W3C */
              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#98ebcb', endColorstr='#7ed2b1',GradientType=0 ); /* IE6-8 */
              border:1px solid #6ebd9e; -webkit-box-shadow: inset 0 0 1px 0 rgba(204, 241, 227, 1); box-shadow: inset 0 0 1px 0 rgba(204, 241, 227, 1);
              text-align:center; border-radius:5px; -webkit-border-radius:5px; height: 37px; width: 136px; color:#0e4d34; text-decoration:none; text-shadow: 0px 1px 1px #fff;
              filter: dropshadow(color=#fff, offx=0, offy=1); font-size:90%; }

.reg_grnbtn a:hover{
    background: #7ed2b2; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdlZDJiMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iIzk3ZWJjYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top,  #7ed2b2 0%, #97ebcb 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7ed2b2), color-stop(99%,#97ebcb)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #7ed2b2 0%,#97ebcb 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #7ed2b2 0%,#97ebcb 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #7ed2b2 0%,#97ebcb 99%); /* IE10+ */
    background: linear-gradient(to bottom,  #7ed2b2 0%,#97ebcb 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ed2b2', endColorstr='#97ebcb',GradientType=0 ); /* IE6-8 */
}

.reg_grybtn a{display:table-cell; vertical-align:middle; background: rgb(232,232,232); /* Old browsers */

              background: rgb(231,231,231); /* Old browsers */
              /* IE9 SVG, needs conditional override of 'filter' to 'none' */
              background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U3ZTdlNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjZWNlY2UiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
              background: -moz-linear-gradient(top, rgba(231,231,231,1) 0%, rgba(206,206,206,1) 100%); /* FF3.6+ */
              background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(231,231,231,1)), color-stop(100%,rgba(206,206,206,1))); /* Chrome,Safari4+ */
              background: -webkit-linear-gradient(top, rgba(231,231,231,1) 0%,rgba(206,206,206,1) 100%); /* Chrome10+,Safari5.1+ */
              background: -o-linear-gradient(top, rgba(231,231,231,1) 0%,rgba(206,206,206,1) 100%); /* Opera 11.10+ */
              background: -ms-linear-gradient(top, rgba(231,231,231,1) 0%,rgba(206,206,206,1) 100%); /* IE10+ */
              background: linear-gradient(to bottom, rgba(231,231,231,1) 0%,rgba(206,206,206,1) 100%); /* W3C */
              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e7e7', endColorstr='#cecece',GradientType=0 ); /* IE6-8 */
              border:1px solid #bcbcbc; -webkit-box-shadow: inset 0 0 1px 0 #f3f3f3; box-shadow: inset 0 0 1px 0 #f3f3f3;
              text-align:center; border-radius:5px; -webkit-border-radius:5px; height: 37px; width: 136px; color:#696a6a; text-decoration:none; text-shadow: 0px 1px 1px #fff;
              filter: dropshadow(color=#fff, offx=0, offy=1); font-size:90%; }

.reg_grybtn a:hover{
    background: rgb(206,206,206); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NlY2VjZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlN2U3ZTciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(206,206,206,1) 0%, rgba(231,231,231,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(206,206,206,1)), color-stop(100%,rgba(231,231,231,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(206,206,206,1) 0%,rgba(231,231,231,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(206,206,206,1) 0%,rgba(231,231,231,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(206,206,206,1) 0%,rgba(231,231,231,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(206,206,206,1) 0%,rgba(231,231,231,1) 100%); /* W3C */
}

.hme_hdrbx2{border-bottom:1px solid #d5d5d5; margin:auto}
.regcontainer{background: #fff; box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.1); margin: auto; width: 689px;}
.mar_adj_reg{margin-right:10px}
.regmsg_msg span.regtxt{color: #000; display: block; font-family: HelveticaNeue,arial; font-size: 16px; padding: 15px 0}
.regmsg_msg span.sucessbtn2 a {
  /*  background: #70BB9E;  Old browsers */
  /*   background: -moz-linear-gradient(top, #A3EDD1 0%, #9BE5C9 21%, #7BC5A8 75%, #70BB9E 100%); FF3.6+ */
   /*  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#A3EDD1), color-stop(21%,#9BE5C9), color-stop(75%,#7BC5A8), color-stop(100%,#70BB9E)); Chrome,Safari4+ */
   /*  background: -webkit-linear-gradient(top, #A3EDD1 0%,#9BE5C9 50%,#7BC5A8 75%,#70BB9E 100%); Chrome10+,Safari5.1+ */
   /*  background: -o-linear-gradient(top, #A3EDD1 0%,#9BE5C9 21%,#7BC5A8 75%,#70BB9E 100%); Opera 11.10+ */
   /*  background: -ms-linear-gradient(top, #A3EDD1 0%,#9BE5C9 21%,#7BC5A8 75%,#70BB9E 100%);  IE10+ */
   /*  background: linear-gradient(to bottom, #A3EDD1 0%,#9BE5C9 21%,#7BC5A8 75%,#70BB9E 100%);  W3C */
   /*  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#A3EDD1', endColorstr='#70BB9E',GradientType=0 ); IE6-8 */
    border: 1px solid #6EBD9E;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 1px 1px #CCF1E3 inset;
    color: #1D6649;
    display: inline-block;
    height: 32px;
    line-height: 28px;
    list-style: none outside none;
    margin-bottom: 10px;
    margin-right: 1.3%;
    text-align: center;
    text-shadow: 0 1px 1px #FFFFFF;
    width: 116px;
}


.regmsg_hldrbx {background: #FFF; border: 1px solid #FFFFFF; border-radius: 5px 5px 5px 5px; width: 100%; padding: 10px;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box}
.regmsg_msg {text-align: center; width: 100%}
.regmsg_msg span#regmsg_modal_close{display: inline-block}
.regmsg_popup {background: #FFF; border-radius: 10px 10px 10px 10px; left: 32%; position: absolute; top: 220px; width: 35.8%; z-index: 1032}
/*#register_holder fieldset input.error_red, #register_holder fieldset select.error_red{border:1px solid  #FF0000 !important;}*/
#register_holder fieldset input.error_red{
  border:1px solid  #FF0000 !important;
    margin-left: -8px\9;
    margin-top: 5px\9;
    *height: 9px;

}
#register_holder fieldset select.error_red{
  border:1px solid  #FF0000 !important;
  margin-left: -8px\9;
  margin-top: 5px\9;
  height: 33px\9;
  padding-top: 6px\9;
}

.regerrorMsg{color:#ff0000; float:left; width:68%}

@media handheld, only screen and (max-width: 786px) {

    .registerbx {margin-left: 12.1%; height: 892px}

}

@media handheld, only screen and (max-width: 720px) {

    .registerbx {height: 100%}	
}

@media handheld, only screen and (max-width: 640px) {
    .registerbx {margin-left:7%}
	.reg_grybtn a, .reg_grnbtn a{width:110px}
	}

@media handheld, only screen and (max-width: 600px) {
    .regcontainer{width:100%}
    .registerbx {width: 95%; margin-left:1.5%}
    #register_holder{ width:100%}
    #register_holder fieldset input{width:100%}
    #register_holder fieldset select{width:100%}
    #register_holder fieldset:last-child label{display:none} 
    #register_holder > fieldset > span{	padding-left:0px}
    .reg_btnbx{display:none}
	.regerrorMsg{color:#ff0000; float:left; width:100%}
	select {-webkit-appearance: listbox; padding: 0px 5px !important}
	#register_holder fieldset#reg_entstore_field label,
    #register_holder fieldset#reg_entretailer_field label{display: none !important}
    #register_holder fieldset#reg_entstore_field input,
    #register_holder fieldset#reg_entretailer_field input{margin-top:10px !important}
	.reg_grybtn a, .reg_grnbtn a{width: 136px;}
}

@media handheld, only screen and (max-width: 480px) {
    .regmsg_popup {left: 23%; top: 66px}
    .regmsg_hldrbx {width: 100%}
    #register_holder > fieldset > span{
        width:290px;
    }
}

@media handheld, only screen and (max-width: 360px) {
    .registerbx {width: 93.4%}
    .regmsg_popup {left: 18%}
    #register_holder fieldset select{width:100%} 
    #regmsg_modal{
        margin-top: 40% !important
    }
}

@media handheld, only screen and (max-width: 320px) {
    .registerbx {margin-left: 5px; width: 93%}
    #register_holder fieldset select{width:100%} 
    .regmsg_popup {left: 11%}
	select {-webkit-appearance: listbox; padding: 0px 5px !important}
#regmsg_modal{margin-top: 30% !important}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) 
and (orientation : portrait) {
#register_holder span.reg-text-lt { width:auto;}
#register_holder fieldset label { margin-right:20px;}
}
